.content {
    margin: auto;
    max-width: 1440px;
    padding: 0 120px;
}

header {
    background-color: #E76C1F;
}

.headerContainer {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.descHeroImg {
    background-image: url(./assets/img/hero_photo.jpg);
    background-size: cover;
    background-position: bottom;
    height: 508px;
    width: 100dvw;
}

.descLogoImg {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 13px solid #FDEADC;
    box-shadow: 2px 4px 4px 0 #00000040;
    margin-top: -100px;
}

.sectionOverview {
    background-color: #E76C1F;
    height: 60px;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 16px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.menu {
    background-color: #FDEADC;
    height: 141px;
    width: 50dvw;
    border-radius: 12px;
    padding: 10px;
    display: flex;
}

.menuImg {
    height: 121px;
    width: 207px;
    background-image: url(./assets/img/veggie-mushroom-black-burger.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.menuDetailsContainer {
    display: flex;
    padding: 10px;
}

.menuDetailsLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.menuDetailsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.menuBasketContainer {
    display: flex;
    width: 100dvw;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #363534;
    color: #FDEADC;
    height: 50dvh;
    width: 344px;
    padding: 50px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: sticky;
    top: 0;
    gap: 50px;
}

.basket img {
    width: 128px;
}

.basketContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}

footer {
    background-color: #E76C1F;
    color: #FFFFFF;
    height: 128px;
    margin-top: 50px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 32px;
    gap: 72px;
}

.footerCopyright {
    display: flex;
}

.footerCopyright img {
    height: 20px;
    width: 20px;
}
