.btnDishes {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 8px;
}

.btnDishes:hover {
    box-shadow: 1px 2px #00000033;
    color: #E76C1F;
}

.btnDishesSelected {
    color: #E76C1F;
}

.bntBasket {
    background-color: #E76C1F;
}